@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. Base Theme (Dark Mode Default) */
:root {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --card: 26 26 26;
  --clr-card-foreground: #fafafa;
  --card-border:47 47 47;

  /* Tailwind-like variable names */
  /* --background: var(--color-background);
  --foreground: var(--color-foreground);
  --card: var(--color-card);
  --card-foreground: var(--color-card-foreground); */
}

/* 2. Light Theme (Respects system preference) */
@media (prefers-color-scheme: light) {
  :root {
    --color-background: #fef7f0;
    --color-foreground: #2d1b14;
    --color-card:245, 245, 245;
    --card-border-light:239 227 241;

    --background: var(--color-background);
    --foreground: var(--color-foreground);
    --card: var(--color-card);
    --card-border:var(--card-border-light);

  }
}

/* 3. Global Styling  */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}